#menu {
  background-color: rgba(0, 67, 79, 0.9);
}

#header {
  background-color: #005969;
}

#header .logo {
  display: flex;
  align-items: center;
}

#header .logo > img {
  position: relative;
  height: 70%;
}

#header.alt.style2 .logo strong {
  color: #064D77;
}
h1, h2, h3 {
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-family: 'Poppins', sans-serif;
}
/* .content p {
  max-width: 62%;
} */
.actions li span {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.25em;
  line-height: 4em;
  text-decoration: none;
  text-transform: uppercase;
}
.serviceHeader {
  position: absolute;
  width: 100%;
}
.serviceHeader span {
  display: inline;
  z-index: 100;
  padding: .8em .8em .8em 4.5em;
  position: absolute;
  margin-top: -1.5em;
  background-color: #00434F;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-weight: 600;
}

textarea:invalid::before {
  content: 'please enter a valid message';
  background-color: #FF7B7A;
  color: white;
  position: absolute;
  top: -2em;
  left: 1px;
  height: 2em;
}

input[type="email"]:invalid {
  border-color: #FF7B7A;
  box-shadow: 0 0 0 2px #FF7B7A;
}

header.major {
  width: 100%;
}


/* 
* Footer ---------------------------------------------
*/

#footer {
  text-align: center;
}

.contact-method span:nth-of-type(2) {
  display: block;
  margin-bottom: 1.5em;
}

header.major > .sub:first-child::after {
  background-color: #6fc3df;
  width: 3.8em;
}

#contact {
  overflow: hidden;
}
.actions button {
  min-width: 19rem;
}




/*SERVICES*/
.refund {
  background: whitesmoke;
  color: black;
  text-align: center;
  padding: 2.5rem 0rem;
}
.refund h3 {
  color: #00434F;
  padding: 0;
  margin: 0;
  font-size: 2.5em;
}









/*ABOUT STYLE*/
.aboutWrap {
  display: flex;
}
.aboutWrap > div {
 flex-grow: 1; 
 
} 
.aboutWrap > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  padding-left: 5rem
}
.aboutWrap .image.main img {
  width: 20rem;
}
.aboutWrap p {
  max-width: 85%;
}

@media screen and (max-width: 980px) {
  .content p {
    max-width: 100%;
  }

  /*ABOUT*/
  .aboutWrap {
    flex-direction: column;
  }
  .aboutWrap p {
    max-width: none;
  }
  .aboutWrap span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutWrap > div:nth-of-type(2) {
    padding: 0;
  }
  .aboutWrap .image.main img {
    width: 100%;
  }
}